---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "About Tarna",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>Hello, I'm Tarna! I'm a 22 year old, self taught developer, freelancer, and a student.</p>
		<p>I primarily work in creating:</p>
		<ul class="list-inside list-disc" role="list">
			<li>Minecraft Plugins & Mods</li>
			<li>Discord Bots</li>
			<li>Backend Services</li>
			<li>System Administration</li>
		</ul>
	</div>
</PageLayout>
